$primaryColor: #000000;
$secondaryColor: #676767;
$thirdColor: #272343;
$fourthColor: #cadefc;
$fifthColor: #c3bef0;
$sixthColor: #cca8e9;

body {
  background: $fourthColor;
  background-image: url(./Layouts/landingscreen.jpg);
  color: $fourthColor;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.95;
}

img.Homepage__logo {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  width: 610px;
  height: 600px;
  border: 6px solid rgba(28, 110, 164, 0.5);
  border-radius: 364px;
  box-shadow: 0px 2px 22px 5px rgba(0, 0, 0, 0.8), 0 0 58px 38px #fff,
    0 0 40px 40px #f0f, 0 0 10px 0px #0ff;

}

img.Header__logo {
width:400px;
position: absolute;
left: 41.5%;
filter: drop-shadow(0 -2mm 2mm #fffeff);
}

p {
  color: $fourthColor;
}

* {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

style {
  display: none;
}
